<div id="<%= dom_id withdrawal %>">
  <p>
    <strong>Account:</strong>
    <%= withdrawal.account_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= withdrawal.amount %>
  </p>

  <p>
    <strong>Transaction date:</strong>
    <%= withdrawal.transaction_date %>
  </p>

</div>
