<p style="color: green"><%= notice %></p>

<h1>Withdrawals</h1>

<div id="withdrawals">
  <% @withdrawals.each do |withdrawal| %>
    <%= render withdrawal %>
    <p>
      <%= link_to "Show this withdrawal", withdrawal %>
    </p>
  <% end %>
</div>

<%= link_to "New withdrawal", new_withdrawal_path %>
